<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "/fragments/head :: head"></head>
<body>
<!--main content start-->
<div class="eror-w3">
	<div class="agile-info">
		<h3>SORRY</h3>
		<h2>500</h2>
		<p>A generic error message, given when no more specific message is suitable.</p>
		<a th:href="@{/homepage}">go home</a>
	</div>
</div>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/jquery.dcjqaccordion.2.7.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
<script th:src="@{/js/jquery.slimscroll.js}"></script>
<script th:src="@{/js/jquery.nicescroll.js}"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" th:src="@{/js/flot-chart/excanvas.min.js}"></script><![endif]-->
<script th:src="@{/js/jquery.scrollTo.js}"></script>
</body>
</html>