<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace = "/fragments/head :: head"></head>
<body>
<section id="container">
    <!--header start-->
    <header th:replace="/fragments/header :: header">
    </header>
    <!--header end-->
    <!--sidebar start-->
    <aside th:replace="/fragments/sidebar :: sidebar"></aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="table-agile-info">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Danh sách hàng hóa
                    </div>
                    <div class="row w3-res-tb">
                        <div class="col-sm-5 m-b-xs">
                            <a th:href = "@{#myModalImport}" type = "button" data-toggle="modal" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                                Xuất File
                            </a>
                            <a th:href = "@{#}" type = "button" class="btn btn-sm btn-default">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                Thêm mới
                            </a>
                        </div>
                        <div class="col-sm-4">
                        </div>
                        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModalImport" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                                        <h4 class="modal-title">Bạn muốn tải xuống bản sao kê hàng hóa tồn kho?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <div align="center" >
                                                    <button aria-hidden="true" data-dismiss="modal" class="btn btn-secondary"
                                                    style="padding-right: 30px; padding-left: 30px;margin-right: 40px;">Hủy</button>
                                                    <button type="submit" class="btn btn-success">Tải xuống</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <div class="input-group-btn search-panel" data-search="students">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                        <span>Tìm kiếm</span> <span></span>
                                    </button>
                                </div>
                                <input id = "myInput" type="text" class="form-control" name="x" placeholder="Search term...">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped b-t b-light">
                            <thead>
                            <tr>
                                <th>Mã Hàng Hóa</th>
                                <th>Tên Hàng</th>
                                <th>Loại Hàng</th>
                                <th>Giá
                                <th>Đơn Vị Tính</th>
                                <th>Tồn kho</th>
                                <th style="width:30px;"></th>
                            </tr>
                            </thead>
                            <tbody id = "myTable">

                            <tr th:each = "info : ${commodityList}">
                                <td th:text = "*{info.commodityId}"></td>
                                <td th:text = "*{info.commodityName}"></td>
                                <td th:text = "*{info.typeOfCommodityName}"></td>
                                <td th:text = "*{info.commodityPrice}"></td>
                                <td th:text = "*{info.commodityUnit}"></td>
                                <td th:text = "${info.inventoryNumber} ? *{info.inventoryNumber} : '0'"></td>
                                <td><a th:href="@{'/v1/delete/'+ ${info.commodityId}}" class="active" ui-toggle-class=""><i
                                            class="fa fa-pencil text-success text-active"></i></a>
                                </td>
                                <td><a th:href="@{'/v1/delete/'+ ${info.commodityId}}" class="active" ui-toggle-class=""><i
                                            class="fa fa-times text-danger text"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <footer class="panel-footer">
                    </footer>
                </div>
            </div>
        </section>
        <!--main content end-->
    </section>
    <script th:src="@{/js/bootstrap.js}"></script>
    <script th:src="@{/js/jquery.dcjqaccordion.2.7.js}"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script th:src="@{/js/jquery.slimscroll.js}"></script>
    <script th:src="@{/js/jquery.nicescroll.js}"></script>
    <!--[if lte IE 8]>
    <script language="javascript" type="text/javascript" th:src="@{/js/flot-chart/excanvas.min.js}"></script>
    <![endif]-->
    <script th:src="@{/js/jquery.scrollTo.js}"></script>
<!--    AjaxSearch-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>
<!--    end AjaxSearch-->
</section>
</body>

</html>
