<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head"></head>
<body>
<section id="container">
    <!--header start-->
    <header th:replace="/fragments/header :: header"></header>
    <!--header end-->
    <!--sidebar start-->
    <aside th:replace="/fragments/sidebar :: sidebar"></aside>
    <!--sidebar end-->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div class="table-agile-info">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Thêm phiếu nhập khẩu
                    </div>
                    <div style="margin-top:15px">
                        <form class="form-horizontal bucket-form" method="POST">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Quốc Gia Nhập:</label>
                                <div class="col-sm-6">
                                    <select class="form-control m-bot15">
                                        <option th:each = "info : ${countryList}"
                                                th:value = "${info.id}"
                                                th:text = "${info.countryName}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Kho Chứa:</label>
                                <div class="col-sm-6">
                                    <select  class="form-control m-bot15">
                                        <option th:each = "info : ${warehouseList}"
                                                th:value = "${info.id}"
                                                th:text = "${info.warehouseName}">
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Ngày Nhập Khẩu:</label>
                                <div class="col-sm-6">
                                    <input type="date" class="form-control" id="dateDefault">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <section class="panel" style="margin-bottom:0px;">
                                <label style="padding-left:15px;">Danh Sách Hàng Nhập</label>
                                <span style="padding-right:15px;" class="tools pull-right"><a class="fa fa-chevron-down" href="javascript:;"></a></span>
                                <!--Modal Them Hang-->
                                <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1"
                                     id="myModal" class="modal fade">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button aria-hidden="true" data-dismiss="modal" class="close"
                                                        type="button">×
                                                </button>
                                                <h4 class="modal-title">Thêm Hàng Nhập Vào Danh Sách</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form th:action= "@{/addListImport}" role="form" class="form-horizontal"
                                                    method="post">
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Mã Hàng Hóa:</label>
                                                        <div class="col-sm-6">
                                                        <input type="text" class="form-control" name = "idCommodity" , id="idCommodity">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-3 control-label">Số Lượng:</label>
                                                        <div class="col-sm-6">
                                                            <input type="number" class="form-control" value="1" min="1"
                                                            name = "quantityCommodity" , id="quantityCommodity">
                                                        </div>
                                                    </div>
                                                    <div class="text-center">
                                                        <button style="margin-right: 50px;padding-right: 20px;padding-left: 20px;"
                                                                aria-hidden="true" type="button" data-dismiss="modal"
                                                                class="btn btn-secondary">Hủy
                                                        </button>
                                                        <button type="submit" class="btn btn-success">Thêm</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="text-right" style="padding-right:15px;">
                                        <a href="#myModal" data-toggle="modal" class="btn btn-primary">
                                            Thêm Hàng
                                        </a>
                                    </div>
                                    <div>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>ID Hàng Hóa</th>
                                                <th>Tên Hàng Hóa</th>
                                                <th>Số Lượng</th>
                                                <th>Đơn Giá</th>
                                                <th>Tổng Tiền</th>
                                                <th>Xóa</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-expanded="true">
                                                <td>AQ001</td>
                                                <td>Áo Sơ Mi</td>
                                                <td>3</td>
                                                <td>15.000</td>
                                                <td>45.000</td>
                                                <td>
                                                    <a th:href="@{#}" class="active" ui-toggle-class="">
                                                        <i class="fa fa-times text-danger text"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <section class="panel" style="margin-bottom:0px;">
                                <label style="padding-left:15px;">Hình Ảnh Hồ Sơ Liên Quan</label>
                                <span style="padding-right:15px;" class="tools pull-right">
                                  <a class="fa fa-chevron-down" href="javascript:;"></a>
                                </span>
                                <div class="panel-body">
                                    <form method="POST" th:action = "@{/upload}"
                                          th:object="${fileImage}"
                                          enctype="multipart/form-data">
                                        <div>
                                            <input th:field = "*{urls}" type="file" multiple="multiple" accept=".png, .jpg, .jpeg">
                                        </div>

                                    </form>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success" style="padding-top:10px;align-content:center;padding-bottom: 10px;padding-right: 15px;padding-left: 15px;">
                                        Đồng Ý
                                    </button>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</section>
<!--main content end-->
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/jquery.dcjqaccordion.2.7.js}"></script>
<script th:src="@{/js/scripts.js}"></script>
<script th:src="@{/js/jquery.slimscroll.js}"></script>
<script th:src="@{/js/jquery.nicescroll.js}"></script>
<!--[if lte IE 8]>
<script language="javascript" type="text/javascript" th:src="@{/js/flot-chart/excanvas.min.js}"></script>
<![endif]-->
<script th:src="@{/js/jquery.scrollTo.js}"></script>
<!--Upload-->
<script th:src="@{/js/jquery.fileupload.js}"></script>
<!-- Default cb date -->

<script>document.getElementById('dateDefault').value = new Date().toISOString().substring(0, 10);</script>
<!--    AjaxSearch-->
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>
<!--    end AjaxSearch-->
<!--modal-->
<script>
    $(document).ready(function(){
        
    });
</script>
</body>
</html>
